<li>
<table>
  <tr>
    <td><span style="color: #666; font-size: 12px;"><%= tweet.user.full_name %></span> <%= tweet.content %></td>
  </tr>
  <tr>
    <td style="color: #999; font-size: 8px;"><%= time_ago_in_words(tweet.created_at) %> ago</td>
  </tr>
  <% if current_user?(tweet.user)  %>
  <tr>
    <td><%= link_to 'Delete Tweet', tweet, method: :delete, confirm: "Are you sure?" %></td>
  </tr>
  <% end %>
</table>
</li>
