<h1>Recent Tweets</h1>
<% if signed_in? %>
  <%= form_tag("/", :method => "post") do %>
    <%= select_tag(:origin, options_for_select([['From followed users','following'],['From Everyone','everyone']], @origin)) %>
    <%= submit_tag("Select") %>
  <% end %>
<% end %>
<%= render @tweets %>
