@import "semanticgs";

body {
  background: rgba(202,195,149,0.25);
}

div#wrapper {
  width: $total-width;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 50px -5px rgba(202,195,149,1);
}

div#container {
  @include clearfix();
  margin: 10px 0;
	color: #6C5833;
	font-size: large;
	font-style: normal;
	font-weight: bold;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

section#content {
  @include column(12);
  float: right;
}

section#main-sidebar {
  @include column(4);
  float: left;
}
section#main-sidebar {
  @include column(8);
  float: left;
}

header#page_header {
  @include clearfix();
  color: #333;
  overflow: hidden;
  padding: 0 10px 10px;
  position: relative;

  a,
  a:link,
  a:hover,
  a:active,
  a:visited {
    color: blue;
    text-decoration:none;
  }

  nav {
    float: right;
    margin-right: 40px;
    font-size: 1.0em;
    background-color: #bbb;
    padding: 15px;
    li {
      display: inline-block;
      border-right: 2px solid #bd5;
      margin-left: 15px;
      padding-right: 15px;
      line-height: .7em;
      a, a:link, a:visited {
        color: #666;
        text-decoration: none;
      }
      &:last-child {
        border-right: none;
      }
    }
  }

  #logo {
    margin-top: 5px;
    height: 78px;
  }
}
